<br>
<div class="content">
    <div class="ui padded grid">
        <div class="two column row">
            <div class="six wide column">
                <form class="ui form" action="/airports" method="POST">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="field">
                        <label>IATA Code</label>
                        <input id="IATA" type="text" name="IATA" placeholder="Code">
                    </div>
                    <div class="field">
                        <label>Location</label>
                        <div class="two fields">
                            <div class="field">
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="country">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Country</div>
                                    <div class="menu">
                                        {{#each countries}}
                                        <div class="item" data-value={{country_id}}>{{name}}</div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <input type="text" name="city" placeholder="City">
                            </div>
                        </div>
                    </div>
                    <button class="ui tiny button">Add Entity</button>
                    <div class="ui error message"></div>
                </form>
            </div>
            <div class="four wide column">
                <form class="ui form" action="airports/country/" method="GET">
                    <div class="field">
                        <label>Filter by Country</label>
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="country">
                                <i class="dropdown icon"></i>
                                <div class="default text">Country</div>
                                <div class="menu">
                                    {{#each countries}}
                                    <div class="item" data-value={{country_id}}>{{name}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui tiny button">Filter</button>
                    <div class="ui error message"></div>
                </form>

            </div>
        </div>
    </div>

    <div class="ui divider"></div>


    <div class="ui horizontally padded grid">
        <div class="ten wide column">
            <h2 class="ui header">Current Airports:</h2>
        </div>
        <div class="eight wide column">
            <table class="ui basic compact table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>IATA Code</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each airports}}
                    <tr>
                        <td>{{airport}}</td>
                        <td>{{IATA_code}}</td>
                        <td>{{city}}</td>
                        <td>{{country}}</td>
                        <td>
                            <div class="tiny ui buttons">
                                <button class="ui green inverted button" onclick=location.href="/airports/{{id}}" >Update</button> 
                                <div class="or"></div>
                                <button class="ui red inverted button" onclick="deleteEntry('/airports/{{id}}')">Delete</button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

{{>footer}}

<script>
    $('.ui.dropdown')
    .dropdown();

    $('.ui.form')
        .form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter a valid name'
                        }
                    ]
                },
                IATA: {
                    identifier: 'IATA',
                    rules: [
                        {
                            type: 'regExp[[A-Z]{3}]',
                            prompt: 'Please enter an IATA code in all CAPS'
                        },
                        {
                            type: 'exactLength[3]',
                            prompt: 'IATA Code must be a 3-letter code'
                        }
                    ]
                },
                country: {
                    identifier: 'country',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Country must be selected'
                        }
                    ]
                }
            }
        })
    ;
</script>
