<br>
<div class="content">
    <div class="ui padded grid">
        <form class="ui form">
            <div class="field">
                <label>Country</label>
                <div id="countrySelector" class="ui selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Country</div>
                    <div class="menu">
                        {{#each countries}}
                        <div class="item" data-value={{country_id}}>{{name}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Language</label>
                <div id="languageSelector" class="ui selection dropdown">
                    <input type="hidden" name="language">
                    <i class="dropdown icon"></i>
                    <div class="default text">Language</div>
                    <div class="menu">
                        {{#each languages}}
                        <div class="item" data-value={{language_id}}>{{name}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <button class="ui tiny button">Update</button>
            <div class="ui error message"></div>
        </form>
    </div>
    <div class="ui divider"></div>
</div>

{{>footer}}

<script defer>
    selectCountryLanguage({{selected.country_id}}, {{selected.language_id}});
</script>
<script>
    $('.ui.dropdown')
        .dropdown();
    
    $('.ui.form')
        .form({
            fields: {
            country : 'empty',
            language: 'empty'
            },
            onSuccess: function(event, fields) {
                updateCountryLanguage({{selected.country_id}}, {{selected.language_id}});
            }
        })
    ;
</script>